*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #636363;
    font-family: 'Inter', sans-serif;
    background: #fff;
    letter-spacing: 0.25px;
    line-height: 1.7;
}
img{
    border: 0 none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    text-decoration: none !important;
    color: #636363;
}
li{
    list-style-type:none;
}
.header{
    width: 100%;
    position: relative !important;
}
.header_content1{
    display: flex;
    align-items: center;
}
.header_content2{
    position: absolute;
    top:170px;
}
.menubar{
    margin-right: 40px;
    cursor: pointer;
}
.logo{
    cursor: pointer;
    position: relative;
    padding-right: 35px;
    overflow-y: hidden;
}
.logo:after {
    content: "";
    height: 50px;
    width: 1px;
    background: #636363;
    opacity: 0.161;
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
}
.menu-inf{
    margin-top: 40px;
}
.menu-inf a{
    text-decoration: none;
    color: #636363;
    font-size: 14px;
}
.menu-inf li{
    list-style-type: none;
    color: #636363;
    margin-bottom: 10px; 
    font-size: 14px;  
}
.menu-inf a:hover{
    color: #08d8b8;
}
.header{
    border-bottom: 1px solid#ede9e9;
}
.hidden-logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
}
.hidden-lg{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #fff;
}
.hidden-lg a{
color: #fff;
}
.active a{
    color: #08d8b8;
}
.close{
position: absolute;
right: 50px;
top: 40px;
font-size: 20px;
line-height: 25px;
color: #fff;
cursor: pointer;
width: 30px;
height: 30px;
border-radius: 50%;
border: 2px solid #fff;
text-align: center;
/* padding-top: 3px; */
overflow-y: hidden;
}
.hide{
display: none;
}
.nav-item{
padding: 12px 40px;
position: relative;
font-size: 17px;
color: #d7d7d7;
text-transform: uppercase;
font-family: 'Gotham Bold', sans-serif;
font-weight: 700;
background: transparent;
line-height: 40px;
text-align: center;
}
.nav-item a:hover{
color: #08d8b8;
}

.titlecrum{
    color: #08d8b8;
}
.crum{
    margin-top: 10px;

}
.crum a{
    color: #636363;
}
.crum .fa-solid{
    font-size: 11px;
}
.titlemain{
    margin-top: 15px;
}
.section1 .container{
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 50px;
}
.section1{
    text-align: center;
}

.section1_about h2{
font-family: 'Gotham Bold', sans-serif;
letter-spacing: 0.25px;
font-size: 36px;
font-weight: 700;
color: #15282d;
margin-bottom: 12px;
}
.title1_about{
    color: #636363;
    font-size: 14px;
    padding: 0 205px;
    display: block; 
    margin-bottom: 40px;
    line-height: 1.7;
}
.video-box{
    position: relative;
   text-align: center;
   background: url("./image/background_video.png");
   background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.video-box .fa{
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #ebebeb;
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    line-height: 36px;
    font-size: 28px;
}
.content_section1{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
    margin-top: 50px;
    justify-content: space-between;
    cursor: pointer;
}
.section1_item b{
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 23px;
    color: #252525;
    display: block;
    text-transform: uppercase;
    font-family: "Muli",serif;
}
.icon{
    float: left;
}
.icon img{
    height: 56px;
    width: 56px;
}
.video-box img{
    width: 350px;
    height: 200px;
    object-fit: cover;
}
.content_section1 .section1_item .info{
    text-align: left;
    padding-left: 20px;
}
.content_section1 .section1_item p{
    max-width: 100%;
    margin-bottom: 0;
    text-align: left;
    font-size: 14px;
}
.icon{
    float: left;
}
.content_section1 .section1_item .info{
    text-align: left;
    padding-left: 20px;
}
.content_section1 .section1_item p{
    max-width: 100%;
    margin-bottom: 0;
    text-align: left;
    line-height: 25px;
}
.icon img{
    height: 56px;
    width: 56px;
}
.video-box img{
    width: 350px;
    height: 200px;
    object-fit: cover;
}
.section2{
    padding-top: 50px;
    font-size: 16px;
}
p{
    padding: 0 0 15px 0;
}
.img_{
    text-align: center;
}
.section7 h2{
    font-family: 'Gotham Bold', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: none;
    color: #15282d;
    margin-bottom: 12px;
    text-align: center;
}
.contact_mail .email_mobi {
    width: 80%;
    height: 97px;
    border-radius: 0px;
    margin-right: 0px;
    margin-bottom: 0;
    display: inline-block;
    background: #fff;
    padding: 20px;
    border: 15px solid #ebebeb;
}
.contact_mail input {
    border: none;
     float: left;
     margin-left: 20px;
     outline: none;
}
.input [type="email"]{
    list-style-type: none;
}
.section7{
    background: url("../image/background_fn.png");
    width: 100%;
    /* margin-top: 30px; */
    float:left;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: bottom;
    padding-top:60px;
    padding-bottom: 60px;
}
.contact_mail{
    position: relative;
    text-align: center;
}
.contact_mail .subscribe{
    position: absolute;
      top:25px;
      right:140px  ;
      background: #08d8b8;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    height: 45px;
    line-height: 43px;
    text-align: center;
    padding: 0 20px 0 20px;
    margin: 0 2px;
}
.border_ .subscribe:hover{
    background: #fff;
    color: #08d8b8;
    border:1px solid #08d8b8;
}
.contact_mail .border_:before {
    width: 1px;
    height: 68px;
    position: absolute;
    content: "";
    top:15px;
    right:300px;
    background: #ded8d8;
}
.footer1{
    background: url("../image/bg_footer.png");
    float:left;
    width: 100%;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: bottom;
    padding-top:60px;
    padding-bottom: 60px;
}
.footer_left{
    width:50%;
    float: left;
}
.footer1 li{
    list-style-type: none;
    color: #ccc;
}
.txt_content_child{
    font-size: 15px;
}
.footer1 a{
    color: #ccc !important;
    font-size: 14px;
}
.footer1 h4{
    font-size: 1em;
    margin-bottom: 17px;
    font-weight: 700;
    font-family: "Muli",serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.item{
    line-height: 24px;
    color: #ccc;
    margin-bottom: 30px;
}
.social_bot{
    display: flex;
}
.inline-lists li{
    float: left;
    margin-left: 45px;
}
.inline-lists a{
    font-size: 40px;
}
.fa-brands{
    background: #15282d;
}
.footer_right{
    width: 50%;
    float:left;
    padding-bottom: 60px !important;
    padding-left: 60px;
}
.list-menu-right{
    width: 33.33333333%;
    float:left;
}
.list-menu-right li{
        color: #ccc;
        padding: 3px 0;
        line-height: 30px;
}
.footer2{
    background: #fff;
    float: left;
    width: 100%;
    font-size: 15px;
}
.copyright{
    width: 100%;
    float: left;
}
.footer_menu{
    float:right;
}
.copyright{
    line-height: 40px;
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: left;
    color: #252525;
    font-size: 1em;
}
.copyright a {
    font-weight: 400;
    color: #252525;
}
.line_ft{
    margin: 0 5px 0 10px;
}
.footer_menu{
    display: flex;
    font-size: 1em;
}
.footer_menu li{
    list-style-type: none;
}
.footer_menu a{
    font-size: 1em;
}
/* .image-slider{
    width: 100%;
} */
.image-item{
    float: left;
}
.contentfeedback{
    width: 100%;
    float:left;
}